<div id="impress" class="impress-not-supported">

    <div class="fallback-message">
        <p>Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.</p>
        <p>For the best experience please use the latest <b>Chrome</b> or <b>Safari</b> browser. Firefox 10 (to be released soon) will also handle it.</p>
    </div>


    <div id="title" class="step" data-scale="16" data-x="-2000" data-y="-1500">
        <h1>Node.js today</h1>
        <span class="footnote" style="color: #666;">powered by impress.js and Node.Js</span>
    </div>

    <div id="whats" class="step" data-x="0" data-y="-1500" data-scale="4" >
        <h2>What's Node.js?</h2>
        <span>"Node.js is a platform built on Chrome's JavaScript runtime for easily building fast, scalable network applications. "</span>
    </div>
    <div id="v8" class="step" data-x="0" data-y="-700" data-scale="4">
        <span>&bull; Javascript V8 Engine</span>
    </div>

    <div id="v8slow" class="step slide" data-x="300" data-y="-700" data-scale=".2">
        <q style="padding-top: 150px; font-size: 200%;">JavaScript is slooowwwwww!</q>
    </div>
    <style type="text/css">
        #v8turn q{
            margin-top: 0px;
        }
    </style>
    <div id="v8turn" class="step slide" data-x="500" data-y="-700" data-scale=".2" data-rotate="180">
        <q><a href="https://bitly.com/howSlowIsJavaScript">bit.ly/howSlowIsJavaScript</a>
        <img src="/images/chartbox.png" width="100%"/></q>
    </div>


    <div id="nonBlocking" class="step" data-x="0" data-y="-450" data-scale="4">
        <span>&bull; Non-blocking and Event driven</span>
    </div>
 
    <div id="nonBlockingSync" class="step slide" data-x="1050" data-y="-450" data-scale=".2">
        <q>
A synchronous example
<pre class="lines20 prettyprint linenums:1">
data = readFromDatabase();
print(data);
doSomethingUnrelated();
</pre>
<br/>
<ul style="font-size: 70%; line-height: 130%;"> 
 <li>&bull; The program is blocked when read from database</li>
<li>&bull; Many CPU cycles are wasted</li>
</ul>
        </q>
    </div>

    <div id="nonBlockingASync" class="step slide" data-x="1250" data-y="-450" data-scale=".2">
        <q>
An asynchronous example
<pre class="lines20 prettyprint linenums:1">
readFromDatabase(function(data){
    printData(data);
})
doSomethingUnrelated();
</pre>
<br />
<ul style="font-size: 70%; line-height: 130%;">
<li>
&bull; doSomethingUnrelated get called immediately
</li>
<li>&bull; printData(data) will be called when finish reading from db</li>
<li>&bull; everything runs in paralell</li>
</ul>
        </q>
    </div>

    <div id="eventloop" class="step slide" data-x="1450" data-y="-450" data-scale=".2">
        <q>
Event-loop basis

<ul style="font-size: 70%; line-height: 130%;">
<li>&bull; All your codes run in an ”event-loop”</li>
<li>&bull; Stop if no event listeners, and event emitters</li>
<li>
<ul>

<li>&nbsp; - loop waits for event</li>
<li>&nbsp; - loop run in single thread</li>
<li>&nbsp; - everything else is asynchronous</li>
</ul>
</li>
        </q>
    </div>


    <div id="singleThreaded" class="step" data-x="0" data-y="-200" data-scale="4">
        <span>&bull; Single-threaded</span>
    </div>

    <div id="singleThreadedFix" class="step slide" data-x="-150" data-y="-200" data-scale=".2">
        <q>

        Fix single tread issue
        <ul style="font-size: 70%; line-height: 130%;">
<li>&bull; Spawn new thread if needed</li>
<li>&bull; The communication is also down by events</li>
<li>&bull; Some principles to follow
<ul>
<li>&nbsp; - Use event callbacks</li>
<li>&nbsp; - Avoid share state variables</li>
<li>&nbsp; - I/O should be handled by built-in function calls</li>
</ul>
</li>

        </ul>

        </q>
    </div>


    <div id="lightweight" class="step" data-x="0" data-y="50" data-scale="4">
        <span>&bull; Lightweight & minimal</span>
    </div>    

    <div id="npm" class="step slide" data-x="450" data-y="50" data-scale=".2">
        <q>
        npmjs.org - Node Package Manager
        <ul style="font-size: 70%; line-height: 130%;">
        <li>7200 published modules</li>
        <li>~30 new modules daily<br><br></li>
        <li> install module:
            <pre class="lines20 prettyprint linenums:1" style="font-size: 60%">$ npm install express</pre>
            <br>
        </li>
        <li> use it:
<pre class="lines20 prettyprint linenums:1" style="font-size: 60%">
var express = require("express");
</pre>
        </li>
        </ul>
        </q>
    </div>

    <div id="peekCode" class="step slide" data-x="0" data-y="1000" data-scale="1">
        
    </div>    


    <div id="multiPlatform" class="step" data-x="0" data-y="300" data-scale="4">
        <span>&bull; Multi-platform (Linux, OS X, Windows)</span>
    </div>    



    <div id="brands" class="step" data-x="0" data-y="550" data-scale="4">
        <span>&bull; Brands</span>

    </div>    

    <div id="microsoft" class="step slide" data-x="-850" data-y="550" data-scale=".2">
        <q>Microsoft<br/><br/>
<ul style="font-size: 70%; line-height: 130%;">
<li>&bull; helped to port Node.Js for windows</li>
<li>&bull; Microsoft Azure full support</li>
</ul>
<a href="http://yhoo.it/azureNode">yhoo.it/azureNode</a>

        </q>
    </div>
    <div id="linkedin" class="step slide" data-x="-650" data-y="550" data-scale=".2">
        <q>Linkedin<br/>

mobile app backend done in Node
<span style="font-size: 70%; line-height: 130%;">
They went from running 15 servers with 15 instances (virtual servers) on each physical machine, to just four instances that can handle double the traffic. 
</span>
<a href="http://bit.ly/linkedinNode">bit.ly/linkedinNode</a>
</q>
    </div>
    <div id="yahoo" class="step slide" data-x="-450" data-y="550" data-scale=".2">
        <q>Yahoo <br>
        <span style="font-size: 70%; line-height: 130%;"><b>Mojito</b> is a JavaScript web application framework that makes “your stuff run on both sides”, browser-side and server-side. With Mojito, developers will no longer have to write different code for the server backend and browser frontend.
</span> 
<a href="http://yhoo.it/yahooMojito">yhoo.it/yahooMojito</a>
        </q>
    </div>
    <div id="ebay" class="step slide" data-x="-250" data-y="550" data-scale=".2">
        <q>Ebay<br>
        <span style="font-size: 70%; line-height: 130%;">
 <b>ql.io</b> – a declarative, evented, data-retrieval and aggregation gateway for HTTP APIs. <b>ql.io</b> can reduce the number of lines of code required to call multiple HTTP APIs while simultaneously bringing down network latency and bandwidth usage in certain use cases.
        </span></q>
    </div>


    <div id="stack" class="step slide" data-x="-1000" data-y="1000" data-scale="1">
        <q>What's the stack?<br><br>
        <ul>
            <li>Framework - express</li>
            <li>Databse - mongodb</li>
            <li>Comet - socket.io</li>
        </ul>
        </q>
    </div>

    <div id="timeToCode" class="step slide" data-x="0" data-y="1000" data-scale="1">
        <q style="padding-top: 150px; font-size: 200%; text-align: center;">SHOWTIME!<br/>
<small>check it on</small><br><%=host%>
        </q>
    </div>    



    <div id="QandA" class="step slide" data-x="1000" data-y="1000" data-scale="1">
        <q style="padding-top: 150px; font-size: 200%; text-align: center;">Q&A

        </q>
    </div>    


    
</div>



<script>
var socket = io.connect('<%=host%>');


socket.emit("listen");

/**
 * impress.js
 *
 * impress.js is a presentation tool based on the power of CSS3 transforms and transitions
 * in modern browsers and inspired by the idea behind prezi.com.
 *
 * MIT Licensed.
 *
 * Copyright 2011 Bartek Szopka (@bartaz)
 */

(function ( document, window ) {

    // HELPER FUNCTIONS
    
    var pfx = (function () {

        var style = document.createElement('dummy').style,
            prefixes = 'Webkit Moz O ms Khtml'.split(' '),
            memory = {};
            
        return function ( prop ) {
            if ( typeof memory[ prop ] === "undefined" ) {

                var ucProp  = prop.charAt(0).toUpperCase() + prop.substr(1),
                    props   = (prop + ' ' + prefixes.join(ucProp + ' ') + ucProp).split(' ');

                memory[ prop ] = null;
                for ( var i in props ) {
                    if ( style[ props[i] ] !== undefined ) {
                        memory[ prop ] = props[i];
                        break;
                    }
                }

            }

            return memory[ prop ];
        }

    })();

    var arrayify = function ( a ) {
        return [].slice.call( a );
    };
    
    var css = function ( el, props ) {
        var key, pkey;
        for ( key in props ) {
            if ( props.hasOwnProperty(key) ) {
                pkey = pfx(key);
                if ( pkey != null ) {
                    el.style[pkey] = props[key];
                }
            }
        }
        return el;
    }
    
    var byId = function ( id ) {
        return document.getElementById(id);
    }
    
    var $ = function ( selector, context ) {
        context = context || document;
        return context.querySelector(selector);
    };
    
    var $$ = function ( selector, context ) {
        context = context || document;
        return arrayify( context.querySelectorAll(selector) );
    };
    
    var translate = function ( t ) {
        return " translate3d(" + t.x + "px," + t.y + "px," + t.z + "px) ";
    };
    
    var rotate = function ( r, revert ) {
        var rX = " rotateX(" + r.x + "deg) ",
            rY = " rotateY(" + r.y + "deg) ",
            rZ = " rotateZ(" + r.z + "deg) ";
        
        return revert ? rZ+rY+rX : rX+rY+rZ;
    };
    
    var scale = function ( s ) {
        return " scaleX(" + s.x + ") scaleY(" + s.y + ") scaleZ(" + s.z + ") ";
    }
    
    // CHECK SUPPORT
    
    var ua = navigator.userAgent.toLowerCase();
    var impressSupported = ( pfx("perspective") != null ) &&
                           ( ua.search(/(iphone)|(ipod)|(ipad)|(android)/) == -1 );
    
    // DOM ELEMENTS
    
    var impress = byId("impress");
    
    if (!impressSupported) {
        impress.className = "impress-not-supported";
        return;
    } else {
        impress.className = "";
    }
    
    var canvas = document.createElement("div");
    canvas.className = "canvas";
    
    arrayify( impress.childNodes ).forEach(function ( el ) {
        canvas.appendChild( el );
    });
    impress.appendChild(canvas);
    
    var steps = $$(".step", impress);
    
    // SETUP
    // set initial values and defaults
    
    document.documentElement.style.height = "100%";
    
    css(document.body, {
        height: "100%",
        overflow: "hidden"
    });

    var props = {
        position: "absolute",
        transformOrigin: "top left",
        transition: "all 1s ease-in-out",
        transformStyle: "preserve-3d"
    }
    
    css(impress, props);
    css(impress, {
        top: "50%",
        left: "50%",
        perspective: "1000px"
    });
    css(canvas, props);
    
    var current = {
        translate: { x: 0, y: 0, z: 0 },
        rotate:    { x: 0, y: 0, z: 0 },
        scale:     { x: 1, y: 1, z: 1 }
    };

    steps.forEach(function ( el, idx ) {
        var data = el.dataset,
            step = {
                translate: {
                    x: data.x || 0,
                    y: data.y || 0,
                    z: data.z || 0
                },
                rotate: {
                    x: data.rotateX || 0,
                    y: data.rotateY || 0,
                    z: data.rotateZ || data.rotate || 0
                },
                scale: {
                    x: data.scaleX || data.scale || 1,
                    y: data.scaleY || data.scale || 1,
                    z: data.scaleZ || 1
                }
            };
        
        el.stepData = step;
        
        if ( !el.id ) {
            el.id = "step-" + (idx + 1);
        }
        
        css(el, {
            position: "absolute",
            transform: "translate(-50%,-50%)" +
                       translate(step.translate) +
                       rotate(step.rotate) +
                       scale(step.scale),
            transformStyle: "preserve-3d"
        });
        
    });

    // making given step active

    var active = null;
    
    var select = function ( el ) {
        if ( !el || !el.stepData ) {
            // selected element is not defined as step
            return false;
        }
        
        // Sometimes it's possible to trigger focus on first link with some keyboard action.
        // Browser in such a case tries to scroll the page to make this element visible
        // (even that body overflow is set to hidden) and it breaks our careful positioning.
        //
        // So, as a lousy (and lazy) workaround we will make the page scroll back to the top
        // whenever slide is selected
        //
        // If you are reading this and know any better way to handle it, I'll be glad to hear about it!
        window.scrollTo(0, 0);
        
        var step = el.stepData;
        
        if ( active ) {
            active.classList.remove("active");
        }
        el.classList.add("active");
        
        impress.className = "step-" + el.id;
        
        // `#/step-id` is used instead of `#step-id` to prevent default browser
        // scrolling to element in hash
        window.location.hash = "#/" + el.id;
        
        var target = {
            rotate: {
                x: -parseInt(step.rotate.x, 10),
                y: -parseInt(step.rotate.y, 10),
                z: -parseInt(step.rotate.z, 10)
            },
            scale: {
                x: 1 / parseFloat(step.scale.x),
                y: 1 / parseFloat(step.scale.y),
                z: 1 / parseFloat(step.scale.z)
            },
            translate: {
                x: -step.translate.x,
                y: -step.translate.y,
                z: -step.translate.z
            }
        };
        
        var zoomin = target.scale.x >= current.scale.x;
        
        css(impress, {
            // to keep the perspective look similar for different scales
            // we need to 'scale' the perspective, too
            perspective: step.scale.x * 1000 + "px",
            transform: scale(target.scale),
            transitionDelay: (zoomin ? "500ms" : "0ms")
        });
        
        css(canvas, {
            transform: rotate(target.rotate, true) + translate(target.translate),
            transitionDelay: (zoomin ? "0ms" : "500ms")
        });
        
        current = target;
        active = el;
        
        return el;
    }
    
    // EVENTS

socket.on('previous',function(){
	console.log("previous")
	var next = active;
                     next = steps.indexOf( active ) - 1;
                         next = next >= 0 ? steps[ next ] : steps[ steps.length-1 ];  
    select(next);
            
            
});


socket.on('next',function(){
	console.log("next")
	var next = active;

                         next = steps.indexOf( active ) + 1;
                         next = next < steps.length ? steps[ next ] : steps[ 0 ];
  	select(next);
});

    
    document.addEventListener("keydown", function ( event ) {
        if ( event.keyCode == 9 || ( event.keyCode >= 32 && event.keyCode <= 34 ) || (event.keyCode >= 37 && event.keyCode <= 40) ) {
            var next = active;
            switch( event.keyCode ) {
                case 33: ; // pg up
                case 37: ; // left
                case 38:   // up
                         next = steps.indexOf( active ) - 1;
                         next = next >= 0 ? steps[ next ] : steps[ steps.length-1 ];
                         break;
                case 9:  ; // tab
                case 32: ; // space
                case 34: ; // pg down
                case 39: ; // right
                case 40:   // down
                         next = steps.indexOf( active ) + 1;
                         next = next < steps.length ? steps[ next ] : steps[ 0 ];
                         break; 
            }
            
            select(next);
            
            event.preventDefault();
        }
    }, false);

    document.addEventListener("click", function ( event ) {
        // event delegation with "bubbling"
        // check if event target (or any of its parents is a link or a step)
        var target = event.target;
        while ( (target.tagName != "A") &&
                (!target.stepData) &&
                (target != document.body) ) {
            target = target.parentNode;
        }
        
        if ( target.tagName == "A" ) {
            var href = target.getAttribute("href");
            
            // if it's a link to presentation step, target this step
            if ( href && href[0] == '#' ) {
                target = byId( href.slice(1) );
            }
        }
        
        if ( select(target) ) {
            event.preventDefault();
        }
    });
    
    var getElementFromUrl = function () {
        // get id from url # by removing `#` or `#/` from the beginning,
        // so both "fallback" `#slide-id` and "enhanced" `#/slide-id` will work
        return byId( window.location.hash.replace(/^#\/?/,"") );
    }
    
    window.addEventListener("hashchange", function () {
        select( getElementFromUrl() );
    }, false);
    
    // START 
    // by selecting step defined in url or first step of the presentation
    select(getElementFromUrl() || steps[0]);

})(document, window);
</script>